/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

body{
	font-size:13px;
	line-height:18px;
	margin:33px;
}
h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.top-text{
	margin-left:30px;
	line-height:30px;
}
table{
	text-align:left;
	line-height:30px;
}
.list-title{
	text-align:center;
}
.list-text{
	padding:5px;
}
h2{
	margin-top:30px;
	margin-bottom:10px;
}
.show-box{
	font-size:13px;
	line-height:50px;
	margin:33px;
}
.edit-title{
	font-size:2em;
	text-align:left;
	margin-left:0;
}
.edit-box{
	margin-top:10px;
	margin-bottom:15px;
}
.edit-link{
	margin-top:15px;
}