<% if flash[:mess] %>
	<p><%= flash[:mess] %></p>
<% end %>

<div class="show-box">
<p>Title:<%= @book.title %></p>
<p>Body:<%= @book.body %></p>
</div>
<%= link_to "Edit", edit_book_path(@book) %>
<a href="/books">Back</a>